{% extends "base_document.html" %}
{% block title %}Ross P Sullivan Kelly{% endblock %}
{% block content %}
<meta name="type" content="index">
<meta name="timestamp" content="202007222136">
<article class="no-top-padding">
    <figure id="header-image" class="header-art" title="This is a random piece of landscape art from the Met's collection. Implementation details described in post: The Met Art API">
        <div hx-get="/random_art_html?art_type=landscape" hx-trigger="load" hx-swap="outerHTML"><em>Loading...</em></div>
    </figure>
    {% for post in posts %}
    <hr>
        {% if post.formatted_date and post.title %}
        <blockquote>
            <h2>
                <a href="/posts/{{post.immutable_title.lower()}}">
                {{post.title}}
                </a>
            </h2>
            <p>
                <em>{{post.formatted_date}}</em>
            </p>
        </blockquote>
        <section>
                <p>
                    {{ post.preview|safe}}
                </p>
        </section>     
        
        {% endif %}
    {% endfor %}

    <figure id="footer-image" title="This is a random nebula image from NASA.  Implementation details described in post: NASA Image API">
        <div hx-get="/random_nasa_html?search_term=nebula" hx-trigger="load" hx-swap="outerHTML"><em>Loading...</em></div>
    </figure>
</article>

{% endblock %}